
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    /* background-color: rgb(236, 221, 123); */
    width: auto;
    text-align: center;
    padding: 20px 20px;
    border: 2px;
    margin: 0 auto;
}

h1,h3{
    margin: 2px auto;
}

li p{
    text-align: justify;
    height: 108px;
}

img{
    margin: 0 auto;
    padding: 10px 10px;
    display: block;
}

ul{
    margin: 15px auto;
    padding: 10px;
    list-style: none;
}

.recipe-list{
    display: inline-block;
    width: 280px;
    height: 550px;
    border: 2px solid gray;
    border-radius: 3px;
    margin: 0px 20px;
    padding: 5px 15px;
    vertical-align: top;

}

.li-link{
    font-size: 18px;
    color: black;
}

.menuimg{
    width: 250px;
    height: 250px;
}

.recipe-info{
    display: inline-block;
    font-size: 15px;
    margin: 8px 10px;
    padding: 1px 1px;
    text-align: left;

}

.recipe-prep{
    background-color: rgb(236, 221, 123);
    position: relative;
    top: 0px;
    left: 0px;
    margin: 15px 25px;
    padding: 1px;
    border: 2px solid grey;
    border-radius: 3px;
}
